In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

# Download data
First, make sure you have run the `fetch_data.sh` script to download the image data.

# Load Image Data
The image part of the annotations file contains information about the images:

* the file name of the image
* the width and height of the image

In [4]:
annotations_path = "data/train/_annotations.coco.json"

with open(annotations_path, "r") as f:
    json_data = json.load(f)

df_images = pd.DataFrame(json_data["images"])
df_images.set_index("id", inplace=True)
df_images

,license,file_name,height,width,date_captured
id,,,,,
0,1,29_jpg.rf.87953984cfe2c5acd2ba93e7f3dd074b.jpg,640,640,2022-10-23T01:17:40+00:00
1,1,-long-la-rue-C3A0-astoria-queens-new-york-un-t...,640,640,2022-10-23T01:17:40+00:00
2,1,93117578-679c-11e5-aa4a-40f2e96c8ad8_jpg.rf.86...,640,640,2022-10-23T01:17:40+00:00
3,1,02_Bild-oben-1024x768_jpg.rf.87ed93f39fd96afa8...,640,640,2022-10-23T01:17:40+00:00
4,1,e1c67e8e-9438-11e5-982d-40f2e96c8ad8_jpg.rf.87...,640,640,2022-10-23T01:17:40+00:00
...,...,...,...,...,...
3022,1,images129_jpg.rf.13c9753552047bac5e096d5baf013...,640,640,2022-10-23T01:17:40+00:00
3023,1,81c378c8-679e-11e5-b0d3-40f2e96c8ad8_jpg.rf.11...,640,640,2022-10-23T01:17:40+00:00
3024,1,basuraaa_jpeg.rf.13a18b4d98eda3d3d0ecf281ca866...,640,640,2022-10-23T01:17:40+00:00
3025,1,images123_jpg.rf.102c09102686ba26e1320a5d12a51...,640,640,2022-10-23T01:17:40+00:00
3026,1,B9729710325Z-1_20220121200952_0002BGNBJNTDDQ-1...,640,640,2022-10-23T01:17:40+00:00

# Load Annotations
The annotations part of the annotations file contains:

* the image ID
* the category ID, this is basically the class label
* the bounding box coordinates
* the segmentation (which is always empty because we don't have it)

In [5]:
df_annotations = pd.DataFrame(json_data["annotations"])
df_annotations.set_index("id", inplace=True)
df_annotations

,image_id,category_id,bbox,area,segmentation,iscrowd
id,,,,,,
0,0,1,"[68, 1, 371, 356]",132076.0,[],0
1,1,1,"[33, 171, 569, 460]",261740.0,[],0
2,2,1,"[1, 81, 511, 533]",272363.0,[],0
3,5,1,"[83, 56, 546, 545]",297570.0,[],0
4,6,1,"[105, 90, 441, 441]",194481.0,[],0
...,...,...,...,...,...,...
3241,3022,1,"[88, 36, 551, 568]",312968.0,[],0
3242,3023,1,"[93, 217, 196, 422]",82712.0,[],0
3243,3024,1,"[78, 86, 470, 470]",220900.0,[],0
3244,3025,1,"[244, 47, 394, 393]",154842.0,[],0
3245,3026,1,"[84, 1, 477, 452]",215604.0,[],0